---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  transparentHeader?: boolean;
}

const { title, description, ogImage, transparentHeader = false } = Astro.props;
---

<BaseLayout title={title} description={description} ogImage={ogImage}>
  <Header transparent={transparentHeader} />
  <main class:list={[{ "main--with-header-offset": !transparentHeader }]}>
    <slot />
  </main>
  <Footer />
</BaseLayout>

<style>
  .main--with-header-offset {
    padding-top: 48px;
  }
</style>
